@import 'app';

.flex-spacer {
  flex-grow: 1;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: $primary;
  color: $white;
  font-weight: 300;

  &__logo {
    ::ng-deep {
      .mat-button-wrapper {
        display: flex;
        align-items: center;
        margin-left: -16px;
      }
    }
  }

  &__icon {
    color: $sunny;

    &--dashboard {
      color: $white;
    }
  }

  &__service {
    @media screen and (max-width: 900px) {
      display: none;
    }
  }

  &__title {
    padding-left: 15px;
    font-size: 1.8rem;
    font-weight: 400;
  }

  &__user {
    padding-right: 2rem;
    font-weight: 500;
  }
}
