<ag-base-layout [title]="'Edit configuration'">
  <h2 class="app-title">Configuration for app {{ title }}</h2>
  <ag-edit-configuration-form [pending]="isLoading" (upload)="onUpload($event)" (submitted)="onSave($event)"
                              [configuration]="configuration">
    <div class="form-button-wrapper form-button-wrapper--left">
      <button type="submit" (click)="onBackButtonClick()"
              mat-raised-button>Back</button>
    </div>
  </ag-edit-configuration-form>
</ag-base-layout>
