<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
  <!-- select-app -->
  <div class="form-row form-row--double">
    <div class="form-row__item form-row__item--label">
      <h4>Application Name</h4>
    </div>
    <div class="form-row__item form-row__item--body">
      <mat-form-field [floatLabel]="'always'" class="full-width form-field">
        <input matInput placeholder="com.anagog.newapp"
               formControlName="appName" id="appNameMatcher"
               (focus)="onFocus(appName)" [errorStateMatcher]="appNameMatcher" />
        <mat-error
                   *ngIf="appName.hasError('minlength') && !appName.hasError('required')">
          Minimum Appname length is
          {{ appName.getError('minlength').requiredLength }} symbols
        </mat-error>
        <mat-error *ngIf="appName.hasError('required')">
          Appname is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="form-button-wrapper form-button-wrapper--no-margin-top">
      <button type="submit" mat-raised-button color="primary">Create</button>
      <button type="button" (click)="onCancel()" mat-raised-button color="accent">Cancel</button>
  </div>
</form>
